.swiper-fade .swiper-slide {
  opacity: 0 !important;
  z-index: 0 !important;
  pointer-events: none !important;
  transition: opacity 0.3s ease-in-out;
}
.swiper-fade .swiper-slide-active {
  opacity: 1 !important;
  z-index: 1 !important;
  pointer-events: auto !important;
}

.swiper.default.fade .swiper-slide {
  width: 100% !important;
  height: auto !important;
}
.swiper.default.fade .swiper-slide > * {
  height: 100%;
}
